version: '3.8'

services:
  app:
    build: .
    container_name: auth_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres_db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/auth_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - APP_JWTSECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      - APP_JWTEXPIRATIONMS=86400000

  postgres_db:
    image: postgres:15-alpine
    container_name: auth_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
